---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<Layout
    title="Blog | Richard Simon"
    description="Explore the latest articles and insights from Richard Simon, a full stack web developer."
>
    <main>
        <h1>Blog</h1>
        <p>I write things</p>
    </main>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}`}>
                        <h2>{post.data.title}</h2>
                    </a>
                    {post.data.description && <p>{post.data.description}</p>}
                </li>
            ))
        }
    </ul>

    <style>
        main {
            padding: 20px;
        }
        h1 {
            font-size: 3 rem;
        }
        @media only screen and (min-width: 992px) {
            main {
                width: 900px;
                margin: 0 auto;
            }
            h1 {
                font-size: 5rem;
            }
        }
    </style>
</Layout>
