<footer class="footer">
    <div class="content has-text-centered">
        <h1 class="title is-spaced">Contact Me</h1>
        <div class="level">
            <div class="level-item has-text-centered">
                <a href="mailto:richardsimonb@gmail.com">
                    <ion-icon class="icon is-large" name="mail"></ion-icon>
                </a>
            </div>
            <div class="level-item has-text-centered">
                <a href="https://github.com/richardsimonb"><ion-icon class="icon is-large" name="logo-github"></ion-icon></a>
            </div>
            <div class="level-item has-text-centered">
                <a href="https://www.linkedin.com/in/richardsimonb/"><ion-icon class="icon is-large" name="logo-linkedin"></ion-icon></a>
            </div>
        </div>
    </div>
</footer> 