<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.data.navigation[0].link }}">
      richardsimonb
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarTop" class="navbar-menu">
    <div class="navbar-start">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="navbar-item current"{% else %}class="navbar-item"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/id">id</a>
      </div>
      <div class="navbar-item">
        <a href="/en">en</a>
      </div>
    </div>
  </div>
</nav>