a{
   color:black;
}
.introduction, .skill {
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color:#f8fcfb;
   img {
      border-radius: 50%;
      height: 40%;
      width: auto;
   }
}
.skill{
   background-color:#c9fdd7;
}
