:root {
    --primary-color: light-dark(#09326C, #CCE0FF);
    --secondary-color: #6c4309;
    --background-color: light-dark(#ffffff, #161A1D)
    --neutral-color: light-dark(#F1F2F4, #22272B);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
    box-sizing: border-box;
    color-scheme: light dark;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

