---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navigation/Navbar.astro";
import Landing from "../components/Landing.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout
	title="Richard Simon | Full Stack Developer"
	description="Richard Simon is a full stack web developer with a passion for creating dynamic and responsive web applications."
>
	<>
		<header>
			<Navbar />
		</header>
		<main>
			<Landing />
			<Skills />
			<Projects />
			<Contact />
		</main>
	</>
</Layout>
