<div class="theme">
    <a class="theme-button">Theme</a>
    <!-- <button id="show">Theme</button> -->
    <div class="theme-dropdown">
        <button data-set-theme="auto" disabled>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="var(--text-color)"
                width="20px"
                height="20px"
                viewBox="0 0 24 24"
                ><path
                    d="M20 18c1.1 0 1.99-.9 1.99-2L22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2H0v2h24v-2h-4zM4 6h16v10H4V6z"
                ></path></svg
            >
            Auto
        </button>
        <button data-set-theme="light">
            <svg
                fill="var(--text-color)"
                width="20px"
                height="20px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g id="Light">
                    <g>
                        <path
                            d="M12,18.09A6.09,6.09,0,1,1,18.09,12,6.1,6.1,0,0,1,12,18.09ZM12,6.91A5.09,5.09,0,1,0,17.09,12,5.1,5.1,0,0,0,12,6.91Z"
                        ></path>
                        <path
                            d="M11.5,2.568v1.6a.5.5,0,1,0,1,0v-1.6a.5.5,0,1,0-1,0Z"
                        ></path>
                        <path
                            d="M12.5,21.432v-1.6a.5.5,0,0,0-1,0v1.6a.5.5,0,1,0,1,0Z"
                        ></path>
                        <path
                            d="M21.432,11.5h-1.6a.5.5,0,0,0,0,1h1.6a.5.5,0,1,0,0-1Z"
                        ></path>
                        <path
                            d="M2.568,12.5h1.6a.5.5,0,1,0,0-1h-1.6a.5.5,0,1,0,0,1Z"
                        ></path>
                        <path
                            d="M18.316,4.977l-.992.992-.141.141a.514.514,0,0,0-.146.353.508.508,0,0,0,.146.354.5.5,0,0,0,.354.146.515.515,0,0,0,.353-.146l.992-.992.141-.141a.515.515,0,0,0,.147-.354.508.508,0,0,0-.147-.353.5.5,0,0,0-.353-.147.522.522,0,0,0-.354.147Z"
                        ></path>
                        <path
                            d="M5.684,19.023l.992-.992.141-.141a.514.514,0,0,0,.146-.353.508.508,0,0,0-.146-.354.5.5,0,0,0-.354-.146.515.515,0,0,0-.353.146l-.992.992-.141.141a.515.515,0,0,0-.147.354.508.508,0,0,0,.147.353.5.5,0,0,0,.353.147.522.522,0,0,0,.354-.147Z"
                        ></path>
                        <path
                            d="M19.023,18.316l-.992-.992-.141-.141a.514.514,0,0,0-.353-.146.508.508,0,0,0-.354.146.5.5,0,0,0-.146.354.515.515,0,0,0,.146.353l.992.992.141.141a.515.515,0,0,0,.354.147.508.508,0,0,0,.353-.147.5.5,0,0,0,.147-.353.522.522,0,0,0-.147-.354Z"
                        ></path>
                        <path
                            d="M4.977,5.684l.992.992.141.141a.514.514,0,0,0,.353.146.508.508,0,0,0,.354-.146.5.5,0,0,0,.146-.354.515.515,0,0,0-.146-.353l-.992-.992-.141-.141A.515.515,0,0,0,5.33,4.83a.508.508,0,0,0-.353.147.5.5,0,0,0-.147.353.522.522,0,0,0,.147.354Z"
                        ></path>
                    </g>
                </g>
            </svg>
            Light
        </button>
        <button data-set-theme="dark">
            <svg
                fill="var(--text-color)"
                width="20px"
                height="20px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g id="Dark">
                    <path
                        d="M12.741,20.917a9.389,9.389,0,0,1-1.395-.105,9.141,9.141,0,0,1-1.465-17.7,1.177,1.177,0,0,1,1.21.281,1.273,1.273,0,0,1,.325,1.293,8.112,8.112,0,0,0-.353,2.68,8.266,8.266,0,0,0,4.366,6.857,7.628,7.628,0,0,0,3.711.993,1.242,1.242,0,0,1,.994,1.963h0A9.148,9.148,0,0,1,12.741,20.917ZM10.261,4.05a.211.211,0,0,0-.065.011,8.137,8.137,0,1,0,9.131,12.526h0a.224.224,0,0,0,.013-.235.232.232,0,0,0-.206-.136A8.619,8.619,0,0,1,14.946,15.1a9.274,9.274,0,0,1-4.883-7.7,9.123,9.123,0,0,1,.4-3.008.286.286,0,0,0-.069-.285A.184.184,0,0,0,10.261,4.05Z"
                    ></path>
                </g>
            </svg>
            Dark
        </button>
    </div>
</div>

<style>
    button {
        background: transparent;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        height: 1.5rem;
    }
    button:disabled svg {
        fill: gray;
    }
    .theme-dropdown {
        position: absolute;
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
        padding: 15px;
        background-color: var(--neutral-color);
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        font-size: 1em;
        color: var(--text-color);
        padding: 15px;
        &:hover {
            background-color: var(--primary-color);
        }
    }
    
    .theme:hover .theme-button {
        background-color: var(--primary-color);
    }

    .theme:hover .theme-dropdown {
        display: flex;
    }
</style>

<script>
    const lightButton = document.querySelector(`[data-set-theme='light']`);
    const darkButton = document.querySelector(`[data-set-theme='dark']`);
    const autoButton = document.querySelector(`[data-set-theme='auto']`);
    const html = document.querySelector("html");

    function switchMode(mode: "light" | "dark" | "auto") {
        html?.style.setProperty(
            "color-scheme",
            mode === "auto" ? "light dark" : mode,
        );
        switch (mode) {
            case "light":
                lightButton?.setAttribute("disabled", "true");
                darkButton?.removeAttribute("disabled");
                autoButton?.removeAttribute("disabled");
                break;
            case "dark":
                darkButton?.setAttribute("disabled", "true");
                lightButton?.removeAttribute("disabled");
                autoButton?.removeAttribute("disabled");
                break;
            case "auto":
                autoButton?.setAttribute("disabled", "true");
                darkButton?.removeAttribute("disabled");
                lightButton?.removeAttribute("disabled");
                break;
        }
    }

    lightButton?.addEventListener("click", () => switchMode("light"));
    darkButton?.addEventListener("click", () => switchMode("dark"));
    autoButton?.addEventListener("click", () => switchMode("auto"));
</script>
