---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="theme">
    <a class="theme-button">Theme</a>
    <div class="theme-dropdown">
        <button data-set-theme="auto" disabled>
            <ThemeIcon name="auto" />
            <p>Auto</p>
        </button>
        <button data-set-theme="light">
            <ThemeIcon name="light" />
            <p>Light</p>
        </button>
        <button data-set-theme="dark">
            <ThemeIcon name="dark" />
            <p>Dark</p>
        </button>
    </div>
</div>

<style>
    button {
        background: transparent;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        height: 1.5rem;
        &:disabled {
            transition: color 0.3s ease;
            color: gray;
        }
    }
    button:disabled :global(svg) {
        transition: fill 0.3s ease;
        fill: gray;
    }
    .theme-dropdown {
        position: absolute;
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
        margin-left: 0.75rem;
        padding: 15px;
        background-color: var(--neutral-color);
        border-radius: 10px;

        @media only screen and (min-width: 992px) {
            margin-left: 0;
        }
    }

    a {
        text-decoration: none;
        font-size: 1em;
        color: var(--text-color);
        padding: 15px;
        &:hover {
            background-color: var(--primary-color);
        }
    }

    .theme {
        &:hover {
            .theme-button {
                background-color: var(--primary-color);
            }
            .theme-dropdown {
                display: flex;
            }
        }
    }

    p {
        display: none;
        @media only screen and (min-width: 992px) {
            display: block;
        }
    }
</style>

<script>
    const lightButton = document.querySelector(`[data-set-theme='light']`);
    const darkButton = document.querySelector(`[data-set-theme='dark']`);
    const autoButton = document.querySelector(`[data-set-theme='auto']`);
    const html = document.querySelector("html");

    function switchMode(mode: "light" | "dark" | "auto") {
        html?.style.setProperty(
            "color-scheme",
            mode === "auto" ? "light dark" : mode,
        );
        switch (mode) {
            case "light":
                lightButton?.setAttribute("disabled", "true");
                darkButton?.removeAttribute("disabled");
                autoButton?.removeAttribute("disabled");
                break;
            case "dark":
                darkButton?.setAttribute("disabled", "true");
                lightButton?.removeAttribute("disabled");
                autoButton?.removeAttribute("disabled");
                break;
            case "auto":
                autoButton?.setAttribute("disabled", "true");
                darkButton?.removeAttribute("disabled");
                lightButton?.removeAttribute("disabled");
                break;
        }
    }

    lightButton?.addEventListener("click", () => switchMode("light"));
    darkButton?.addEventListener("click", () => switchMode("dark"));
    autoButton?.addEventListener("click", () => switchMode("auto"));
</script>
