<nav>
    <div class="links">
        <a href="/#about">About</a>
        <a href="/#projects">Projects</a>
        <a href="/#contact">Contact</a>
    </div>
</nav>

<style>
    nav {
        background-color: var(--primary-color);
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        position: fixed;
        top: 0;
        margin-top: 0;
        
        width: 100%;
    }

    .links {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 15px;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1em;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<script>
    // JavaScript to handle the navigation bar behavior
    const nav = document.querySelector('nav');

    if (nav) {
        window.addEventListener('scroll', () => {
            if (window.scrollY > 900) {
                nav.style.backgroundColor = 'var(--secondary-color)';
            } else {
                nav.style.backgroundColor = 'var(--primary-color)';
            }
        });
    }
</script>