---
import SkillCard from "./SkillCard.astro";
import WorkCard from "./WorkCard.astro";
---

<section id="about" class="skills-section">
    <div class="aboutme">
        <h2>What I Do</h2>
        <p>
            I am a full-stack web developer with a passion for creating dynamic
            and responsive web applications.
        </p>
        <p>
            My experience in frontend is building using React and Tailwind CSS.
            On the backend, I expertise in PHP with Laravel framework and
            Node.js with multiple frameworks. I also have experience in
            developing using C# and .Net Core.
        </p>
    </div>

    <div class="skills">
        <SkillCard
            skills={[
                { name: "HTML", icon: "/src/assets/logos/html.svg" },
                { name: "CSS", icon: "/src/assets/logos/css.svg" },
                {
                    name: "JavaScript",
                    icon: "/src/assets/logos/javascript.svg",
                },
                { name: "React", icon: "/src/assets/logos/react.svg" },
                {
                    name: "Tailwind CSS",
                    icon: "/src/assets/logos/tailwind.svg",
                },
                { name: "C#", icon: "/src/assets/logos/csharp.svg" },
                { name: "PHP", icon: "/src/assets/logos/php.svg" },
                {
                    name: ".Net Core",
                    icon: "/src/assets/logos/netcore.svg",
                },
                { name: "Laravel", icon: "/src/assets/logos/laravel.svg" },
                { name: "Node.js", icon: "/src/assets/logos/nodejs.svg" },
                { name: "Astro.js", icon: "/src/assets/logos/astro.svg" },
            ]}
        />
    </div>
</section>
<section id="work" class="work-section">
    <h2>Work Experiences</h2>
    <WorkCard
        title="IT Department"
        company="Satu Harapan Media"
        duration="2020 - 2025"
        description="Developed and maintained news website using PHP. Worked with the Publishing Team to develop the front end. Implemented SEO best practices to improve website visibility."
    />
    <WorkCard
        title="IT Consultant"
        company="Ministry of Finance of the Republic of Indonesia"
        duration="2019 - 2020"
        description="Developed modules for the Ministry of Finance's internal system using C#. Collaborated with the IT team to ensure smooth integration and functionality of the modules."
    />
    <WorkCard
        title="Freelance Programmer"
        company="Freelance"
        duration="2016 - 2019"
        description="Developed various web applications. Worked on projects ranging from small business websites, individual projects, and personal projects. Gained experience in different technologies and frameworks."
    />
</section>

<style>
    .skills-section {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
    }
    .work-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .skills {
        width: 100%;
        margin-bottom: 30px;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    p {
        text-align: left;
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

    @media only screen and (min-width: 992px) {
        .skills-section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .aboutme {
            width: 900px;
        }
        .skills {
            width: 900px;
        }
    }
</style>
