---
import CardIcon from "./CardIcon.astro";

export interface Props {
    skills: { name: string; icon: string }[];
}

const { skills } = Astro.props;
---

<div class="skill-card">
    <ul class="skill-card-list">
        {
            skills.map((skill) => (
                <CardIcon
                    imagePath={skill.icon}
                    altText={`${skill.name} icon`}
                    title={skill.name}
                />
            ))
        }
    </ul>
</div>

<style>
    .skill-card-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.2rem;
        list-style: none;
        padding: 0;
    }
</style>
