---
// Props for the WorkCard component
interface Props {
    title: string;
    company: string;
    duration: string;
    description: string;
}

const { title, company, duration, description } = Astro.props as Props;
---

<div class="work-card">
    <h3 class="work-title">{title}</h3>
    <h4 class="work-company">{company}</h4>
    <p class="work-duration">{duration}</p>
    <p class="work-description">{description}</p>
</div>

<style>
    .work-card {
        max-width: 90%;
        padding: 16px;
        margin-bottom: 20px;
        border-bottom: 2px groove var(--primary-color);
    }

    .work-title {
        font-size: 1.1rem;
        margin: 0 0 8px;
    }

    .work-company {
        font-size: 1.25rem;
        margin: 0 0 4px;
        color: var(--inverted-primary-color);
    }

    .work-duration {
        font-size: 1rem;
        margin: 0 0 12px;
    }

    .work-description {
        font-size: 1rem;
    }

    @media only screen and (min-width: 992px) {
        .work-card {
            width: 900px;
        }
    }
</style>