<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
      {% include navigation.html %}
      <div class="container">
			
        {{ content }}
          
      </div><!-- /.container -->
      <footer>
	    		<ul>
	        		<li><a href="mailto:richardsimonbb@gmail.com">email</a></li>
	        		<li><a href="https://github.com/richardsimonb">github.com/richardsimonb</a></li>
				</ul>
			</footer>    
    </body>
</html>